@model GMCINVENTORYSYSTEM.Models.AllModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control[readonly] {
        background-color: white;
    }

    td {
        word-break: break-word;
    }

    .table > thead > tr > th, .table > thead > tr > td {
        vertical-align: bottom;
    }
</style>

<title>Rejected Item Request</title>

<div class="page-header">
    <h1>Rejected Item Request</h1>
    <ol class="breadcrumb">
        <li><a>Inquiry</a></li>
        <li class="active">Rejected Item Request</li>
    </ol>
</div>

<div class="content-wrap">
    <!--START: Content Wrap-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Date: @DateTime.Now.ToShortDateString()</span>
        </div>
        <div class="col-md-5">
            <div class="form-group input-group" style="width:100%">
                <div class="input-daterange input-group">
                    <span class="input-group-addon">Date Rejected</span>
                    <input id="DateFrom" class="form-control js-datepicker" readonly name="start" placeholder="from" autocomplete="off" style="width:100%" />
                    <span class="input-group-addon"><i class="di di-calendar"></i></span>
                    <input id="DateTo" class="form-control" readonly name="end" placeholder="to" autocomplete="off" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-striped table-hover " id="RejectedTable">
                        <thead>
                            <tr>
                                <th class="col-md-2">Reference No</th>
                                <th class="col-md-2">Responsible</th>
                                <th class="col-md-2">Rejected By</th>
                                <th class="col-md-2">Date Requested</th>
                                <th class="col-md-2">Date Rejected</th>
                                <th class="col-md-1">Designation</th>
                                <th class="col-md-1">Request Status</th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Central.dtRejectedItem)
                            {
                                <tr>
                                    <td class="text-center"><a id="RejectedItem" href="#">@Html.DisplayFor(modelitem => item.ReferenceNo)</a></td>
                                    <td>@Html.DisplayFor(modelitem => item.Responsible)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Rejectedby)</td>
                                    <td>@Html.DisplayFor(modelitem => item.DateRequested)</td>
                                    <td>@Html.DisplayFor(modelitem => item.DateRejected)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Designation)</td>
                                    <td><span><i class="label label-danger">@Html.DisplayFor(modelitem => item.RequestStatus)</i></span></td>
                                    <td style="display:none">@Html.HiddenFor(modelitem => item.RejectRemarks)</td>
                                    <td style="display:none">@Html.HiddenFor(modelitem => item.Requester)</td>
                                    <td style="display:none">@Html.HiddenFor(modelitem => item.Purpose)</td>
                                    <td style="display:none">@Html.HiddenFor(modelitem => item.ReferenceNo)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-secondary fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Item Request</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Requested by:</label>  <span id="Requested"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Purpose:</label>  <span id="Purpose"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Reject Remarks:</label>  <span id="RejectRemarks"></span>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="row">
                        <div class="panel-body">

                            <div class="col-md-12">
                                <table class="table" id="TableItemRequestForReleasing">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2">Item Code</th>
                                            <th class="col-md-3">Part Name</th>
                                            <th class="col-md-1 text-center">Requested Quantity</th>
                                            @*<th class="col-md-1">Delivered</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            $('.js-datepicker').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

            $('.input-group.date').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

            $('.input-daterange').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

        });
    </script>

    <script>
        $(function () {
            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        var min = $('#DateFrom').datepicker('getDate');
            //        var max = $('#DateTo').datepicker('getDate');

            //        var date = data[4].split(' ')
            //        if (date[1] == "") {
            //            var startDate = date[0] + "/" + date[2] + "/" + date[3];
            //        }
            //        else {
            //            var startDate = date[0] + "/" + date[1] + "/" + date[2];
            //        }

            //        startDate = new Date(startDate);

            //        if (min == null && max == null) return true;
            //        if (min == null && startDate <= max) return true;
            //        if (max == null && startDate >= min) return true;
            //        if (startDate <= max && startDate >= min) return true;
            //        return false;
            //    }
            //);

            var table = $('#RejectedTable').DataTable({
                order: [[4, "desc"]],
                lengthMenu: [[5, 10, 15, 20, 50, -1], [5, 10, 15, 20, 50, "All"]],
                //dom: "<'row'<'col-md-3'l><'col-md-3'f>>" + //set column size
                //     "<'row'<'col-md-12'tr>>" +
                //     "<'row'<'col-md-5'i><'col-md-7'p>>",
            }).rows().iterator('row', function (context, index) {
                var node = $(this.row(index).node());
                //node.context is element of tr generated by jQuery DataTables.
            });
            // Event listener to the two range filtering inputs to redraw on input

            //$('#DateFrom, #DateTo').change(function () {
            //    table.draw();
            //});
        });
    </script>

    <script>
        $(document).ready(function () {
            //$("#DateFrom").datepicker({
            //    formatDate: "mm/dd/yyyy",
            //    //todayBtn: 1,
            //    autoclose: true,
            //    //todayHighlight: true,
            //}).on('changeDate', function (selected) {
            //    var minDate = new Date(selected.date.valueOf());
            //    $('#DateTo').datepicker('setStartDate', minDate);
            //});

            //$("#DateTo").datepicker({
            //    formatDate: "mm/dd/yyyy",
            //    autoclose: true,
            //    todayHighlight: true
            //}).on('changeDate', function (selected) {
            //    var maxDate = new Date(selected.date.valueOf());
            //    //$('#DateFrom').datepicker('setEndDate', maxDate);
            //});

            $('#DateFrom').datepicker('setDate', '@ViewBag.Week');
            $('#DateTo').datepicker('setDate', '@ViewBag.Date');
            $('#DateTo,#DateFrom').datepicker('setEndDate', '@ViewBag.Date');
        });

        $('#DateFrom, #DateTo').change(function () {
            var Date = $('#DateTo').val();
            var Week = $('#DateFrom').val();

            if (Date == "" || Week == "") {
                return false;
            }

            $.ajax({
                url: '/Home/RejectedItemRequest/',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    Date: Date,
                    Week: Week,
                }),
                dataType: "json",
                success: function (data) {
                    $('#RejectedTable').DataTable().clear();
                    $('#RejectedTable').DataTable().destroy();
                    $('#RejectedTable').dataTable({
                        destroy: true,
                        order: [[4, "desc"]],
                        lengthMenu: [[5, 10, 15, 20, 50, -1], [5, 10, 15, 20, 50, "All"]],
                        data: data,
                        columns: [
                            {
                                data: 'ReferenceNo',
                                render: function (data, type, row) {
                                    return '<td class="text-center"><a class="text-center" id="RejectedItem" href="#">' + data + '</a>' +
                                    '<input id="item_RejectRemarks" type="hidden" value="' + row.RejectRemarks + '">' +
                                    '<input id="item_ReferenceNo" type="hidden" value="' + row.ReferenceNo + '">' +
                                    '<input id="item_Requester" type="hidden" value="' + row.Requester + '">' +
                                    '<input id="item_Purpose" type="hidden" value="' + row.Purpose + '"></td>'
                                }
                            },
                            { data: 'Responsible' },
                            { data: 'Rejectedby' },
                            { data: 'DateRequested' },
                            { data: 'DateRejected' },
                            { data: 'Designation' },
                            {
                                data: 'RequestStatus',
                                render: function (data, type, row) {
                                    return '<td><span><i class="label label-danger">' + data + '</i></span></td>'
                                }
                            }],
                    })
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#RejectedTable").on('click', "#RejectedItem", function () {

                var row = $(this).closest("tr");

                var ReferenceNo = $("#item_ReferenceNo", row).val();
                var Requester = $("#item_Requester", row).val();
                var Purpose = $("#item_Purpose", row).val();
                var RejectRemarks = $("#item_RejectRemarks", row).val();

                $("#Requested").html(Requester);
                $("#Purpose").html(Purpose);
                $("#RejectRemarks").html(RejectRemarks);



                $("#Central_DisplayReferenceNo").val(ReferenceNo);


                var DisplayReferenceNo = ReferenceNo;
                $.ajax({
                    url: '/Home/RetreiveItemCommonForReleasing/',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        DisplayReferenceNo: DisplayReferenceNo
                    }),
                    dataType: "json",
                    success: function (data) {
                        var TableItemForReleasing = $('#TableItemRequestForReleasing tbody');
                        TableItemForReleasing.empty();

                        $(data).each(function (index, data) {
                            TableItemForReleasing.append('<tr><td>' + data.StockNo + '</td><td>' + data.ItemName + '</td><td class="text-center">' + data.qty + '</td>' +
                                //<td>' + data.Delivered + '</td>
                                '</tr>');
                        });
                    }
                });

                $('#myModal8').modal({
                    show: 'false',
                    backdrop: 'static',
                });
            })

        })

    </script>
}
