@model GMCINVENTORYSYSTEM.Models.AllModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control[readonly] {
        background-color: white;
    }

    td {
        word-break: break-word;
    }

        td.center {
            text-align: center;
        }

    .table > thead > tr > th, .table > thead > tr > td {
        vertical-align: bottom;
    }
</style>

<title>Monitoring - Released Item</title>

<div class="page-header">
    <h1>Released Item</h1>
    <ol class="breadcrumb">
        <li><a>Monitoring</a></li>
        <li class="active">Released Item</li>
    </ol>
</div>

<div class="content-wrap">
    <!--START: Content Wrap-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Date: @DateTime.Now.ToShortDateString()</span>
        </div>
        <div class="col-md-5">
            <div class="form-group input-group" style="width:100%">
                <div class="input-daterange input-group">
                    <span class="input-group-addon">Date Released</span>
                    <input id="DateFrom" class="form-control js-datepicker" readonly name="start" placeholder="from" autocomplete="off" style="width:100%" />
                    <span class="input-group-addon"><i class="di di-calendar"></i></span>
                    <input id="DateTo" class="form-control" readonly name="end" placeholder="to" autocomplete="off" style="width:100%" />
                </div>
            </div>
        </div>
        @if (Session["GroupID"].ToString() == "1")
        {
            using (Html.BeginForm("Releasedlogs", "Home", FormMethod.Post, new { @id = "formvalidationtooltip", @class = "ItemReleasingForm", @role = "form" }))
            {
                @*<div class="col-md-3">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Date Released</span>
                        @Html.TextBoxFor(central => central.Central.DateReleased, new { @class = "form-control date-picker", @placeholder = "Required", autocomplete = "off" })
                    </div>
                </div>*@
                <div class="col-md-3">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Designation</span>
                        @Html.DropDownListFor(central => central.Central.Designation, Model.Central.ddlDesignation, "Select All", new { @class = "form-control select2Search", @placeholder = "Required" })
                    </div>
                </div>
                @*<div class="col-md-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>*@
            }
        }
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <table class="table table-striped table-hover" id="TableReleasedLogs">
                        <thead>
                            <tr>
                                <th class="col-md-2">Reference No</th>
                                <th class="col-md-2">Requested By</th>
                                <th class="col-md-1">Date Released</th>
                                <th class="col-md-2">Released By</th>
                                <th>Designation</th>
                                <th class="col-md-1">Item Code</th>
                                <th class="col-md-4">Part Name</th>
                                <th class="col-md-1 text-center" style="padding-left:25px; padding-right:25px">Requested</th>
                                <th class="col-md-1 text-center" style="padding-left:25px; padding-right:25px">Released</th>
                                <th class="col-md-1 text-center" style="padding-left:25px; padding-right:25px">Total Delivered</th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Central.dtReleasedLogs)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelitem => item.ReferenceNo)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Requester)</td>
                                    <td>@Html.DisplayFor(modelitem => item.DateReleased)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Responsible)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Designation)</td>
                                    <td>@Html.DisplayFor(modelitem => item.StockNo)</td>
                                    <td>@Html.DisplayFor(modelitem => item.ItemName)</td>
                                    <td>@Html.DisplayFor(modelitem => item.qty)</td>
                                    <td>@Html.DisplayFor(modelitem => item.ItemReleased)</td>
                                    <td>@Html.DisplayFor(modelitem => item.TotalReleased)</td>
                                    <td style="display:none;">@Html.HiddenFor(modelitem => item.ReferenceNo)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <button type="button" id="btnPrint" class="btn btn-primary pull-right">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script>
        //$(function () {
        //    $('#btnPrint').click(function () {
        //        var DateReleased = $('#Central_DateReleased').val();
        //        var Designation = $('#Central_Designation').val();

        //        $.ajax({
        //            url: '/Home/ReleasedFilterData',
        //            type: "post",
        //            contentType: "application/json",
        //            data: JSON.stringify({
        //                DateReleased: DateReleased,
        //                Designation: Designation,
        //            }),
        //            dataType: 'json',
        //            success: function (data) {
        //                window.open("/Report/ItemMonitoringReports/");
        //                if (data > 0) {
        //                }
        //            }
        //        })
        //    })
        //})
    </script>

    <script>
        $('#btnPrint').on('click', function () {
            var From = $('#DateFrom').val();
            var To = $('#DateTo').val();
            var Designation = $('#Central_Designation').val();

            $.ajax({
                url: '/Home/SetFilterData',
                type: "post",
                contentType: "application/json",
                data: JSON.stringify({
                    From: From,
                    To: To,
                    Designation: Designation,
                    Type: 'ReleasedLogs',
                }),
                dataType: 'json',
                success: function (data) {
                    window.open("/Report/ItemMonitoringReports/");
                }
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            $('.js-datepicker').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

            $('.input-group.date').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

            $('.input-daterange').datepicker({
                formatDate: "mm/dd/yyyy",
                //todayHighlight: true,
                //startDate: new Date(),
                //autoclose: true
            });

        });
    </script>

    <script>
        $(function () {
            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        var min = $('#DateFrom').datepicker('getDate');
            //        var max = $('#DateTo').datepicker('getDate');
            //        var designation = $('#Central_Designation option:selected').text();
            //        if (designation == "") {
            //            designation = "Select All";
            //        }

            //        var date = data[2].split(' ')
            //        if (date[1] == "") {
            //            var startDate = date[0] + "/" + date[2] + "/" + date[3];
            //        }
            //        else {
            //            var startDate = date[0] + "/" + date[1] + "/" + date[2];
            //        }

            //        startDate = new Date(startDate);

            //        var option = data[3];

            //        if (min == null && max == null && designation == "Select All") return true;
            //        if (min == null && startDate <= max && designation == "Select All") return true;
            //        if (max == null && startDate >= min && designation == "Select All") return true;
            //        if (startDate <= max && startDate >= min && designation == "Select All") return true;
            //        if (min == null && max == null && designation == option) return true;
            //        if (min == null && startDate <= max && designation == option) return true;
            //        if (max == null && startDate >= min && designation == option) return true;
            //        if (startDate <= max && startDate >= min && designation == option) return true;
            //        return false;
            //    }
            //);

            var table = $('#TableReleasedLogs').DataTable({
                order: [[2, "desc"]],
                lengthMenu: [[5, 10, 15, 20, 50, -1], [5, 10, 15, 20, 50, "All"]],
                //dom: "<'row'<'col-md-3'l><'col-md-3'f>>" + //set column size
                //     "<'row'<'col-md-12'tr>>" +
                //     "<'row'<'col-md-5'i><'col-md-7'p>>",
            }).rows().iterator('row', function (context, index) {
                var node = $(this.row(index).node());
                //node.context is element of tr generated by jQuery DataTables.
            });

            // Event listener to the two range filtering inputs to redraw on input

            //$('#DateFrom, #DateTo, #Central_Designation').change(function () {
            //    table.draw();
            //});
        });
    </script>

    <script>
        $(document).ready(function () {
            //$("#DateFrom").datepicker({
            //    formatDate: "mm/dd/yyyy",
            //    //todayBtn: 1,
            //    autoclose: true,
            //    //todayHighlight: true,
            //}).on('changeDate', function (selected) {
            //    var minDate = new Date(selected.date.valueOf());
            //    $('#DateTo').datepicker('setStartDate', minDate);
            //});

            //$("#DateTo").datepicker({
            //    formatDate: "mm/dd/yyyy",
            //    autoclose: true,
            //    todayHighlight: true
            //}).on('changeDate', function (selected) {
            //    var maxDate = new Date(selected.date.valueOf());
            //    //$('#DateFrom').datepicker('setEndDate', maxDate);
            //});

            $('#DateFrom').datepicker('setDate', '@ViewBag.Week');
            $('#DateTo').datepicker('setDate', '@ViewBag.Date');
            $('#DateTo,#DateFrom').datepicker('setEndDate', '@ViewBag.Date');
        });

        $('#DateFrom, #DateTo, #Central_Designation').change(function () {
            var Date = $('#DateTo').val();
            var Week = $('#DateFrom').val();
            var DesignationID = $('#Central_Designation').val();
            var SatDesignationID = '@Session["DesignationID"].ToString()'

            if (Date == "" || Week == "") {
                return false;
            }
            if (DesignationID === undefined) {
                DesignationID = SatDesignationID;
            }

            $.ajax({
                url: '/Home/MonitoringReleasedItem/',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    Date: Date,
                    Week: Week,
                    DesignationID: DesignationID,
                }),
                dataType: "json",
                success: function (data) {
                    $('#TableReleasedLogs').DataTable().clear();
                    $('#TableReleasedLogs').DataTable().destroy();
                    $('#TableReleasedLogs').dataTable({
                        destroy: true,
                        order: [[2, "desc"]],
                        lengthMenu: [[5, 10, 15, 20, 50, -1], [5, 10, 15, 20, 50, "All"]],
                        data: data,
                        columns: [
                            { data: 'ReferenceNo' },
                            { data: 'Requester' },
                            { data: 'DateReleased' },
                            { data: 'Responsible' },
                            { data: 'Designation' },
                            { data: 'StockNo' },
                            { data: 'ItemName' },
                            { data: 'qty',className: 'center' },
                            { data: 'ItemReleased', className: 'center' },
                            { data: 'TotalReleased', className: 'center' }]
                    })
                }
            });
        });
    </script>
}


